
<div class="row">

    <div class="col mx-4" *ngFor="let producto of productos">
        <div style="margin: 4px">
     
<div class="card" style="width: 18rem;">
    <img src="../../assets/img/logo.png" class="card-img-top" alt="...">
        <div class="card-body">
      <h5 class="card-title">Producto</h5>
      <p class="card-text">descripción</p>
      <p class="card-text">Precio</p>
      <p class="card-text">stock</p>
      <a href="Marcas" class="btn btn-primary">Comprar</a>
        </div>
            </div>
        </div>

    </div>
</div>