
<div class="row">

    <div class="col mx-4" *ngFor="let producto of ProductosService.productos">
        <div style="margin: 4px">
     
<div class="card" style="width: 18rem;">
    <img src="{{producto.img_portada}}" class="card-img-top" alt="...">
        <div class="card-body">
      <h5 class="card-title">{{producto.titulo}}</h5>
      <p class="card-text">{{producto.modelo}}</p>
      <p class="card-text">${{producto.precios.precio_especial}}</p>
      <p class="card-text">{{producto.total_existencia}}</p>
      <a href="Marcas" class="btn btn-primary">Comprar</a>
        </div>
            </div>
        </div>


    </div>
</div>