<div class="row">

    <div class="col mx-4" *ngFor="let categoria of CategoriasService.categorias; index as i">
        <div style="margin: 5px">

            <div class="card" style="width: 18rem;">
                <img src="../../assets/logosCategorias/{{i}}.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{categoria.nombre}}</h5>
                    

                    <a href="Productos" class="btn btn-primary">ME INTERESA</a>